<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors Game</title>
  <meta name="current-player" id="<%= current_player.try(:id) %>" name="<%= current_player.try(:name) %>" />
  <meta name="pusher" key="<%= ENV['pusher_key'] %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: 'nav' %>
  <%= yield %>
  <%= javascript_tag do %>
    window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
  <% end %>
</body>

</html>
